<article class="post page post-full">
  <header class="post-header">
    <h1 class="post-title underline">Experience</h1>
  </header><!-- .post-header -->




  <div class="post-content">
    <h2 id="currently-2017---present-owner--codestream">Currently (2017 - present): Owner @ <a href="https://www.codestream.co.za">CodeStream</a></h2>

<p><strong>Durban, South Africa</strong></p>

<p>In my capacity as a developer / architect through CodeStream I have worked on the following projects at <strong>The SPAR Group</strong>:</p>

<div>
<div><strong>SPAR Group - DataLake and Reporting System</strong></div>
This project involved various disparate legacy data storage systems from which operational data was sourced and replicated into a central modernized data lake using
<span class="underline-text">Azure SQL Server</span>. In addition, API endpoints were built using <span class="underline-text">C#</span> and <span class="underline-text">Asp.Net WebApi</span> to provide a reporting and data investigation capability to
business on top of which rich and useful applications can be built by the business. The DataLake is now being migrated to <span class="underline-text">Azure</span> to leverage various
cloud platform technologies and services such as <span class="underline-text">Azure Data Factory</span> and <span class="underline-text">Azure Synaspe</span>.
</div>
<div>
<div style="margin-top: 10px;"><strong>SPAR Group - Store & Vendor Master Data Systems</strong></div>
These master data applications are highly distributed across multiple core backend enterprise systems such as SAP, iSeries/AS400 and custom SQL Server databases.
Technologies such as IBM Process Server & Integration Bus are used to co-ordinate messaging and workflow across the various backend system boundaries.
The user interface was developed using <span class="underline-text">Angular</span> and integrates directly with numerous <span class="underline-text">.NET & SAP Api’s</span>.
I played an integral role in co-ordinating the various development teams and managing sprint work as well as development of the user interfaces and .NET Api’s.
</div>

<div style="margin-top: 10px;"><strong>Other Client Projects</strong></div>
<p>I've built the Back-End API's for <strong>Veridot's</strong> OEM system, enabling them to move from their legacy system to a new highly functional system for tracking the Micro-dotting of vehicles in South Africa. I also managed the migration of the solution to <span class="underline-text">Azure</span> proving <strong>Veridot</strong> with a fully managed Azure hosted solution.</p>
<p>I've worked remotely on a live data processing system for <strong>Chelsea Football Club</strong> in the <strong>UK</strong>, recieving, analyzing and processing player GPS, acceleration and speed data being fed live into an Azure processing pipeline using <span class="underline-text">Azure EventHub, Azure Functions and Azure Sql Server</span>.</p>
<p>I've worked remotely for <strong>CashRewards</strong> in <strong>Australia</strong> building their new Customer Coupon Management site using <span class="underline-text">Angular</span>.</p>
<p>I've worked remotely for a <strong>PROFiltr</strong> in the <strong>UK</strong> bringing their online solution for small bookkeeping companies together with potential clients to completion using <span class="underline-text">AngualrJS, NodeJS and MongoDB</span></p>
<p>I've provided ongoing support and further development of <strong>SMEasy</strong> (see previous poisition as CTO at SMEasy)</p>

<p style="margin-top: 10px;">Please see the <a href="https://www.codestream.co.za">CodeStream</a> website for more detail.</p>

<h3 id="2015---2017-cto--smeasy">2015 - 2017: CTO @ SMEasy</h3>

<p><strong>Durban, South Africa</strong></p>

<p>Allen worked as CTO of SMEasy, coordinating and managing all technical aspects of this exciting online accounting package startup for small to medium sized enterprises. His role was multi-faceted and included the following:</p>

<ul>
<li>Providing key technical insight to the SMEasy board in order to aid them in strategic decision making.</li>
<li>Overall technical leadership and guidance of the SMEasy product</li>
<li>Further development of product offerings</li>
<li>Managing and leading development resources and outside contractors</li>
<li>System architecture and development</li>
<li>Process re-engineering &amp; new technology investment</li>
</ul>

<h3 id="2011---2015-developer--digiterre-london-uk">2011 - 2015: Developer @ Digiterre (London, UK)</h3>

<p><a href="http://www.mandg.co.uk/">M &amp; G Investments</a></p>

<p>As a consultant working for Digiterre, I worked with four other Digiterre consultants at M &amp; G Investments. Our mandate was to introduce agile practices into the development team at M &amp; G. We incorporated Continuous integration into the development cycle, automated unit, integration and acceptance tests as well as automated application deployment and database deployment in all environments. We were also responsible for working closely with M &amp; G developers in a coaching and mentoring capacity to teach new skills and impart accepted industry patterns and practices and design principles.</p>

<p><a href="http://www.edftrading.com/">EDF Trading</a></p>

<p>As a consultant working for Digiterre, I worked on a small team of four developers in a highly agile fashion developing a small Master Data Management system and an Initial Margins tool used to calculate initial margins on all EDF Trading energy positions which would then be reconciled with the initial margin positions as specified by the clearing houses. The application wrapped a third party tool which performed the calculations and facilitated an automated process whereby input data from EDF systems was loaded on a daily basis and initial margin reports were automatically generated for the business to reconcile.</p>

<p><a href="https://www.eon.com/en/business-areas/trading.html">EON </a>- Transfer Pricing Tool</p>

<p>As a consultant working for Digiterre I worked primarily as the team lead on a large project for an EON Energy Trading developing a Transfer Pricing management tool. The project team was spread over London, Dusseldorf and India and required strong coordination and communication to keep the project on track. In the last two years we have brought this project to completion and are now in the process of handing it over for support and maintenance to an outsourced provider chosen by the EON.</p>

<p>The solution we provided made use of Oracle, server side service components and a WPF user interface. The system worked on large sets of data output by models and involved a series of calculations and data manipulation in order to output the required reports and data analysis required by the business.</p>

<h3 id="2010---2011-developer--man-investments-london-uk">2010 - 2011: Developer @ <a href="https://www.man.com/GB/home">MAN Investments</a> (London, UK)</h3>

<p><strong>System Integration / Fx / Fund Accounting / Fee Calculation</strong></p>

<p>Allen worked in a geographically distributed team on systems integration of multiple disparate applications in the middle office of the worlds largest Fund of funds. The development team facilitated systems communication between various data sources and applications using a variety of request/response and publish/subscribe messaging solutions built on Oracle weblogic / MSMQ and a custom in-house messaging buses.</p>

<p>The team, used SCRUM to run and manage month long sprints. SCRUM teams were located in different offices and communication was paramount to successfully completing work. Part of the teams mandate was to introduce in increasing measures the principles of Agile development, increase the test coverage of the code base and strongly push the ethos of TDD.</p>

<p>I have worked on various different systems including middle office fund accounting, Fee calculation, Foreign Exchange and Trade planning.</p>

<h3 id="2009---2010-developer--britinsurance-london-uk">2009 - 2010: Developer @ <a href="http://www.britinsurance.com/">BritInsurance</a> (London, UK)</h3>

<p>I worked on a team of eight developing an online policy management system enabling BritInsurance to manage insurance sold through their network of brokers. The system was loosely coupled employing a publish/subscribe messaging model implemented with NServiceBus to achieve decoupling of logically separate components, high availability and reduce dependencies on other systems.</p>

<p>The team worked in an agile fashion using a continuous integration environment (Team City) alongside unit and integration testing and automated deployment to provide timely feedback to developers on the health of the codebase as a whole. A Kanban board was used to monitor and manage the project’s progress and the team operated in a self-managing style with emphasis on distribution of system knowledge among the whole team and each member taking responsibility for the whole system.</p>

<h3 id="2008---2009-developer--freshfields-bruckhaus-derringer-london-uk">2008 - 2009: Developer @ <a href="http://www.freshfields.com/">Freshfields Bruckhaus Derringer</a> (London, UK)</h3>

<p><strong>Contact &amp; event management</strong></p>

<p>Allen worked on a team developing a contact and event management system for the management of business contacts and targeted communications with specific groupings of contacts about business events and full life-cycle tracking of those events. The application was developed using ASP.NET MVC and jQuery for client-side asynchronous UI updates.</p>

<p><strong>Budgeting management tool</strong></p>

<p>Allen worked as part of large team developing a budgeting application for the firms internal budgeting and cost monitoring of matters. The application was a web based tool relying on data from disparate systems from finance to firm control work management systems. Users of the system would budget costs of estimated work catering for different partners, fee-earners and other resources at different exchange rates. The budget was then eventually compared against actual outcomes of work done on a matter and various reports were available to help monitor the progress of a budget.</p>

  </div><!-- .post-content -->
</article><!-- .post -->
