<article class="post page post-full">
  <header class="post-header">
    <h1 class="post-title underline">Skills</h1>
  </header><!-- .post-header -->

  <div class="post-subtitle">
    This is where my current experience lies.
  </div><!-- .post-subtitle -->

  <div class="post-content">
    <p>I’m a full-stack developer with expert level experience in databases, server-side business logic processing and client-side user interfaces.</p>
    <p>At a high level, these are the tools of my trade.</p>
    <ul>
      <li>Microsoft Azure, DevOps, Apps  & Infra</li>
      <li>C# / .NET Core / Asp.NET Core / SignalR</li>
      <li>Angular / TypeScript / Javascript / NodeJS</li>
      <li>Azure Sql Server / Azure Synapse / MongoDb</li>
      <li>Git / GitHub / BitBucket</li>
    </ul>
  </div><!-- .post-content -->
</article><!-- .post -->
