<section id="hero" class="hero">
  <h2 class="hero-title">Hi, I'm Allen Firth.</h2>

  <div class="hero-text">
    <p>
      I’m a full-stack software developer and architect with a passion for building things with code.
    </p>
  </div>
</section>
<!-- .hero -->

<section id="about" class="block">
  <h2 class="block-title underline">Intro</h2>

  <div class="block-content">
    <p>I’ve been developing applications for over two decades now.</p>
    <p>I build with <strong>C#, Angular / React, Microsoft Azure &amp; Azure DevOps</strong></p>
    <p>
      I’ve worked for small startups and I’ve worked for global
      multi-national corporations.
    </p>
    <p class="block-cta">
      <a routerLink="/about" class="button">About</a>
      <a routerLink="/skills" class="button">Skills</a>
      <a routerLink="/experience" class="button">Experience</a>
      <a routerLink="/contact" class="button">Contact</a>
      <a href="assets/allenfirth-cv.pdf" target="_blank" class="button">CV</a>
    </p>
  </div>
</section>
<!-- .block -->

