<section id="hero" class="hero">
  <h2 class="hero-title">Hi, I'm Allen Firth.</h2>

  <div class="hero-text">
    <p>
      I’m a software architect / developer with a passion for building
      things with code.
    </p>
  </div>
</section>
<!-- .hero -->

<section id="about" class="block">
  <h2 class="block-title underline">Intro</h2>

  <div class="block-content">
    <p>
      I’ve been developing applications for over two decades now.
      The tools of my trade being
      <strong
        >C#, Javascript / Angular, relational or document databases,
        Git, Microsoft Azure &amp; Azure DevOps</strong
      >.
    </p>
    <p>
      I’ve worked for small startups and I’ve worked for global
      multi-national corporations. As I said I like building things.
    </p>
    <p>
      I’ve got a <strong>Bachelors Degree in Informatics</strong> from
      the University of South Africa (2004) as well as being certified
      as a
      <strong>Microsoft Certified Solutions Developer</strong> since
      2000.
    </p>
    <p>
      But as you know certificates mean little and my two decades of
      hands on experience speak volumes for my skills and abilities.
    </p>
    <p class="block-cta">
      <a routerLink="/skills" class="button">Skills</a>
      <a routerLink="/experience" class="button">Experience</a>
      <a routerLink="/contact" class="button">Contact Me</a>
      <a href="assets/allenfirth-cv.pdf" target="_blank" class="button">CV / Resume</a>
    </p>
  </div>
</section>
<!-- .block -->

